<% include elements/header %>

    <main role="main" class="container">
      <div class="jumbotron">
        <h1 class="text-white">Encontre seu restaurante</h1>
        <a class="btn btn-lg btn-light" href="/components/navbar/" role="button">Localizar &raquo;</a>
      </div>
    </main>

<% include elements/footer %>